*{box-sizing: border-box;}

body{
    margin: 0;
    font-family: sans-serif;
}

/*
.parent{
    background-color: #23424A;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    /*overflow: hidden;*/
/*
.child{
    background-color: #38cfd9;
    width: 50%;
    height: 250px;
}

*/

.container{
    background: #23424A;
    color: white;
    width: 80%;
    margin: 0 auto;

    padding: 5em;
}